<app-search (search)="handleSearch($event)"></app-search>
<app-type (type)="handleType($event)"></app-type>

<div class="text-center w">
    <div *ngFor="let book of books | search: types" class="card subcards"><br>
        <div class="card-body">
            <div>
                <h1>{{ book.title }}</h1>
                <p>Descripcion: {{ book.description }}</p>
                <p>Autor: {{ book.author }}</p>
                <p>Publisher: {{ book.publisher }}</p>
                <p>ISBN: {{ book.ISBN }}</p>
                <p>Price: {{ book.price }}</p>
                <p>Date: {{ book.publicationDate }}</p>
            </div>
        </div>
    </div>
</div>
