.loginContainer{
    margin: auto;
    width: fit-content;
    padding: 10px;
}

    #login{
        display: grid;
    }

        #login input{
            height: 15px;
            margin: 5px;
            padding: 8px;
            border-radius: 20px;
            border-width: 0;
            background-color: #383434;
            color: #7b7b7b;
        }

        #login input[type="submit"]{
            height: fit-content;
            background-color: #d8d8d8;
            color: #494949;
        }

        #login input[type="submit"]:hover{
            cursor: pointer;
            background-color: #96d0dd;
            transition: background-color .5s;
        }
