/* You can add global styles to this file, and also import other style files */
body {
    background-color: #484848 !important;
    width: 100vw;
    margin: 0;
}
    img {
        display: block;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 2%;
        border-radius: .25rem;
    }

    .Container{
        margin: auto;
        width: fit-content;
        padding: 10px;
    }

        #subContainer{
            display: grid;
        }

            #subContainer input{
                height: 15px;
                margin: 5px;
                padding: 18px;
                border-radius: 20px;
                border-width: 0;
                background-color: #383434;
                color: #7b7b7b;
            }

            #subContainer input[type="submit"]{
                height: fit-content;
                background-color: #d8d8d8;
                padding: 8px;
                color: #494949;
            }

            #subContainer input[type="submit"]:hover{
                cursor: pointer;
                background-color: #96d0dd;
                transition: background-color .5s;
            }
